{% if sylius.customer %}
    <a class="ui huge red icon labeled button" href="{{ path('sd_add_to_wishlist', {id: block.settings.product.id}) }}"><i class="heart icon"></i>Add to wishlist </a>
{% endif %}
