{% if sylius.customer %}
    <a  class="ui huge red icon labeled button" href="{{ path('solutiondrive_sylius_wishlist_plugin_add_to_wishlist', {id: block.settings.product.id}) }}"><i class="heart icon"></i>{{ 'solutiondrive_sylius_wishlist_plugin.ui.add_to_wishlist'|trans }}</a>
{% endif %}
